@import 'root-color-map.scss';
@import "base/typography";
@import "bathroom";
@import "blogs";
@import "calendar";
@import "chatbot";
@import "forms/code-runner";
@import "forms/ui-runner";
@import "forms/game-runner";
@import "hacks";
@import "hacks_lxd";
@import "hallpass";
@import "microblog";
@import "grading";
@import "navbar";
@import "platformer-game";
@import "game-engine";
@import "game-builder";
@import "quiz";
@import "rps_lesson";
@import "search";
@import "user-preferences";
// aesthetihawk stuff
@import "materials/main.scss";
@import "elements/main.scss";
@import "natm-2025-tri1.scss";
@import "timeline";
@import "lesson-player";

html,
body,
input,
textarea,
select {
    background-color: $background;
}
